{{yield}}

<div class="listview-wrapper">
    <tr class="list-header">
      <td class="list-header-item">Employee</td>
      <td class="list-header-item">Email</td>
      <td class="list-header-item">Team</td>
    </tr>
</div>


{{#if this.searchResult}}
    <div class="listview-container">
        {{#each this.searchResult as |userItem|}}
            {{#user-list-item user=userItem}}
            {{/user-list-item}}
        {{/each}}
    </div>
{{else}}
  <div class="no-user-found">
    {{svg-jar "directory" class="not-found-icon"}}
    <div class="text-head">No employees to list in this view</div>
    <div class="texy-body">try looking for something less specific</div>
  </div>
{{/if}}