<div class="card">
    {{#user-avatar user=user}}{{/user-avatar}}
    <strong class="name" data-test-id="user-name">{{user.first_name}} {{user.last_name}}</strong>
    <p class="email" data-test-id="user-email">{{user.email}}</p>
</div>