{{#if user.img}}
    <div class="avatar-wrapper">
        <img class="avatar" src="{{user.img_url}}" />
    </div>
  {{else}}
    <div class="avatar-wrapper" style="background-color:{{this.randomColor}}">
        {{!-- <p class="card-text"> --}}
            {{this.initials}}
        {{!-- </p> --}}
    </div>
{{/if}}