
@import "ember-bootstrap/bootstrap";
@import "app/abstracts/variable.scss";

body {
  min-height: 100vh;
  position: relative;
  background: $bodyBackground;
  font-family: 'SF Pro Text';
}

.content {
  padding: 54px 0 0 60px;
  overflow: auto;
}

@import 'app/layouts/leftNav.scss';
@import 'app/layouts/header.scss';
@import "app/layouts/footer.scss";
@import 'app/pages/user.scss';