@import "./variable.scss";
.header {
 left: $sideNavWidth;
  height: 54px;
  position: fixed;
  top: 0;
  right: 0;
  background: $white;
  box-shadow: $headerBoxShadow;
}

.logo {
  width: 34px;
  height: 34px;
  margin: 10px 16px 10px 30px;
}

.header-title {
  color: $headerTitle #41637c;
 
 font-weight: 600;
  width: fit-content;
  // padding: 20px;
 
}

.header-title:hover {
  text-decoration: underline 1px solid $violetLight;
}