@import "./variable.scss";
.users-wrapper{
    // margin-bottom: 60px;
    .sec-header{
        left: 0px;
        right: 0;
        height: 54px;
        background-color: $secHeaderUsers;
        position: abs($number: 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 24px;
    }
    .users-list-wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 24px;
    }
}
.avatar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    // padding: 12px;
    margin-left: 84px;
    width: 82px;
    height: 82px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%
}
