@import "./variable.scss";
.sec-header{
    left: $sideNavWidth;
    right: 0;
    height: 53px;
    background-color: $secHeaderUsers;
    position: fixed;
    top: 54px;

  }

  .emp-title{
    padding-top: 18px;
    color: $darkBlue;
    display: flex;
    margin: 0 0 17px 24px;
    font-weight: 600;

  }