@import "./variable.scss";


  .emp-title{
    // padding-top: 18px;
    color: $darkBlue;
    margin: 17px 0;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }