$sideNavWidth: 60px;
$sideNavWidth: 60px;
$bodyBackground: #E5E5E5;
$headerBackground: #ffffff;
$headerBoxShadow: #ebeef0;
$headerTitle: #41637c;
$headerTitleHover: violet;
$leftNavBg: #12344D;
$iconBoxShadow1 :#41637C;
$iconBoxShadow2: #27303E;
$iconLogoHover: #9210e3;
$footerBg: #FFFFFF;
$footerBorder: #CFD7DF;
$footerTextColor: #607787;