$sideNavWidth: 60px;
$bodyBackground: #E5E5E5;
$headerBoxShadow: #ebeef0;
$headerTitle: #41637c;
$violetLight: violet;
$darkBlue: #12344D;
$iconBoxShadow1 :#41637C;
$iconBoxShadow2: #27303E;
$iconLogoHover: #9210e3;
$white: #FFFFFF;
$grey1: #CFD7DF;
$footerTextColor: #607787;
$empLogoHover:  #7052CC;
$secHeaderUsers: #F5F7F9