@import "../abstracts/variable.scss";
.footer {

    left: $sideNavWidth;
    height: 28px;
    background: $white; 
    border: 1px solid $grey1;
    
  }
  
  .footer-content{
    font-size: 12px;
    justify-content: center;
    text-align: center;
    color: $footerTextColor;
    padding-top: 5px;
  }
  