@import "../abstracts/variable.scss";
// @import "app/styles/components/buttons.scss";


.slide-add-emp-div {
    width: 784px;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 2px 20px $slideBoxShadow;
    background: $white;
    .addEmp-user-header {
        width: 784px;
        height: 50px;
        box-shadow: 0px 1px 0px $searchBorder;
        .header-content{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 24px;
        .addEmp-user-title{
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
        .addEmp-action-btns{
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                &.active {
                    background: none;
                }
            }
            .reset {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: $darkBlue;
                background-color: none;
                margin-right: 24px;
                
            }
            .apply{
                // padding: 6px 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                background: #264966;
                width: 62px;
                height: 30px;
                border: 1px solid #12344D;
                border-radius: 2px;
                color: $white;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
        }
        }
        .cancel {
            position: absolute;
            height: 50px;
            top: 0;
            width: 45px;
            left: -45px;
            background: $darkBlue;
            color: $white;
            font-size: 14px;
            text-align: center;
            line-height: 50px;
          
        }
    }

    .addemp-form {
        margin: 28px 18px;
        .avatar-form {
            width: 90px;
            height: 92px;
            background: $avatarFormBg;
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            .avatar-img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            .dummy-icon {
                fill: $white;
                height: 50%;
                width: 50%;
            }
            .uploadImg-icon{
                position: absolute;
                bottom: -6px;
                right: 0;
                height: 40%;
                fill: $darkBlue;
                opacity: .5;
            }
            .upload {
            position: absolute;
            margin: 0;
            cursor: pointer;
            bottom: 0;
            right: 0;
            height: 30px;
            width: 30px;
            opacity: 0;
          }
        }
        .addemp-form-body{
            margin: 18px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px 28px;
            .field-wrapper {
                .label-tag {
                    font-weight: 600;
                    font-size: 12px;
                    margin-bottom: 4px;
                    font-style: normal;
                    line-height: 20px;
                    &::after {
                        content: "*";
                        color: $starColor;
                    } 
                }
                .user-input {
                    width: 100%;
                    height: 32px;
                    border: 1px solid $grey1;
                    border-radius: 4px;
                    padding: 6px 12px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: $filterText;
                    &:hover {
                        border: 1px solid $notFoundText1Color;
                    }
                    &:focus {
                        border: 2px solid $userInputFocus;
                    }
                  }
            }
        }
    }
}
.error {
    color: red
}

