<body class="main">

  <div class="left-nav">
    <div class="icon-logo-container">
      {{svg-jar "ft" class="icon-logo"}}
    </div>
  </div>

  <header class="header">
    <img class="logo" src="assets/brand-header-logo.png" alt="freshteam logo">
    <span class="header-title">Talent Center</span>
  </header>
  
  <main class="content">

  </main>

  <footer class="footer">
    <p class="footer-content">
      HR Software by Freshworks | Knowledge Base
    </p>
  </footer>
</body>