<div class="main">

  <nav class="navbar left-nav">
    <div class="icon-logo-container">
      {{svg-jar "ft" class="icon-logo"}}
    </div>
    <ul class="nav navitems-wrapper">
      <li class="navitem">
        {{#link-to "users" }}  
           {{svg-jar "candidates" class="emp-logo"}}   
        {{/link-to}}
      </li>
    </ul>
  </nav>


  <header class="header">
    <img class="logo" src="/assets/brand-header-logo.png" alt="freshteam logo">
    <span class="header-title">Talent Center</span>
  </header>
  
  <main class="content">
    {{outlet}}
    <footer class="footer">
      <p class="footer-content">
        HR Software by Freshworks | Knowledge Base
      </p>
    </footer>
  </main>

  
</div>