<div class="users-wrapper">
  <div class="sec-header">
    <div class="emp-title">Employees</div>
    <div> 
      {{#link-to "users-listview"}}<button class="add-emp-btn">List View</button>{{/link-to}}
      {{#link-to "users.new" }}<button class="add-emp-btn">Add Employees</button>{{/link-to}}
    </div>
  </div>
  {{#users-data model=model list=false}}
  {{/users-data}}
</div>
{{outlet}}
