<div class="users-wrapper">
  <div class="sec-header">
    <div class="emp-title">Employees</div>
    <div> 
      <button class="add-emp-btn" {{action 'changeView'}}>{{if listview 'List View' 'Card View'}}</button>
      {{#link-to "users.new" }}<button class="add-emp-btn">Add Employees</button>{{/link-to}}
    </div>
  </div>
  {{#users-data model=model listView=listView}}
  {{/users-data}}
</div>
{{outlet}}
