<div class="users-wrapper">
  <div class="sec-header">
    <div class="emp-title">Employees</div>
    {{#link-to "users.new" }}<button class="add-emp-btn">Add Employees</button>{{/link-to}}
  </div>
  {{#users-data model=model}}
  {{/users-data}}
  {{!-- {{#users-data model=model  as |users|}}
    {{user-filtering users=users}}
    {{users-card users=users}}
  {{/users-data}} --}}
</div>
{{outlet}}
